<div class="transactions">
  <transaction-dialog is-open="$ctrl.isTransactionDialogOpen" open-event="$ctrl.transactionDialogOpenEvent"
    on-dialog-submit="$ctrl.handleTransactionDialogSubmit(data)" on-dialog-close="$ctrl.handleTransactionDialogClose()">
  </transaction-dialog>
  <md-button class="transactions__dialog-activation md-fab md-primary" aria-label="FAB"
    ng-click="$ctrl.handleAddTransactionClick($event)">
    <md-icon>
      <i class="material-icons">add</i>
    </md-icon>
  </md-button>
</div>