<md-list-item ng-click="$ctrl.handleAccountClick($event)">
  <md-icon md-font-set="material-icons"> add </md-icon>
  <p> Add new account</p>
</md-list-item>
<md-list class="accounts drawer-menu" ng-cloak>
  <md-list-item class="accounts__item" ng-repeat="item in $ctrl.accounts">
    <md-icon md-font-set="material-icons"> account_balance </md-icon>
    <p>
      {{item.name}} {{item.balance}}{{item.currency}}
      <button-more class="drawer-menu__more-button"></button-more>
    </p>
  </md-list-item>
</md-list>