<md-dialog class="dialog">
  <form ng-cloak>
    <md-dialog-content class="md-dialog-content">
      <h2>Add tag</h2>
      <md-input-container layout="row">
        <label>Tag</label>
        <input ng-model="$ctrl.tag" type="text">
      </md-input-container>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end">
      <md-button class="md-primary" ng-click="$ctrl.abort()">
        Cancel
      </md-button>
      <md-button type="submit" class="md-primary" ng-click="$ctrl.submit()">
        Ok
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>