<md-dialog class="dialog">
  <md-dialog-content class="md-dialog-content" layout="column">
    <h2>Add account</h2>
    <p>Buxy - a simple finance tracking app</p>
    <p>Version {{$ctrl.version}}</p>
    <p>Developed by:
      <a href="https://github.com/Vladyslav-Plakhuta">@Vladyslav-Plakhuta</a>,
      <a href="https://github.com/OlgaOrlova">@OlgaOrlova</a>,
      <a href="https://github.com/ihor7016">@ihor7016</a>,
      <a href="https://github.com/gift-a">@gift-a</a>
    </p>
  </md-dialog-content>
  <md-dialog-actions layout="row" layout-align="end">
    <md-button type="submit" class="md-primary" ng-click="$ctrl.submit()">
      Ok
    </md-button>
  </md-dialog-actions>
</md-dialog>